@import '../../../../breakpoints.scss';

.contacts-block {
    background-color: #2D2B2F;
    width: 100%;
    padding: 45px 0 52px;

    &__container {
        max-width: 1332px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: space-around;

        @include sm-breakpoint {
            flex-direction: column-reverse;
            align-items: center;
        }

        @include xs-breakpoint {
            flex-direction: column-reverse;
            align-items: center;
        }

        .contacts {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &__title {
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-size: 30px;
                color: #fff;
                margin: 0;
                margin-bottom: 22px;

                @include sm-breakpoint {
                    align-self: center;
                    font-size: 40px;
                    margin-bottom: 60px;
                }

                @include xs-breakpoint {
                    align-self: center;
                    font-size: 40px;
                    margin-bottom: 60px;
                }
            }
        }

        .subscribe {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @include sm-breakpoint {
                margin-bottom: 80px;
                align-items: center;
            }


            @include xs-breakpoint {
                margin-bottom: 80px;
                align-items: center;
            }

            &__title {
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-size: 30px;
                color: #fff;
                margin: 0;
                margin-bottom: 22px;

                @include sm-breakpoint {
                    align-self: center;
                    font-size: 40px;
                    margin-bottom: 60px;
                }

                @include xs-breakpoint {
                    align-self: center;
                    font-size: 40px;
                    margin-bottom: 60px;
                }
            }

            &__title-social {
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-size: 30px;
                color: #fff;
                margin: 0;
                margin-bottom: 28px;

                @include sm-breakpoint {
                    align-self: center;
                    font-size: 40px;
                    margin-bottom: 60px;
                }

                @include xs-breakpoint {
                    align-self: center;
                    font-size: 40px;
                    margin-bottom: 60px;
                }
            }
        }
    }
}