.ant-select {
    min-width: 130px;
    color: #292929 !important;
    margin-right: 28px;
}

div .ant-select-selector {
    border: none !important;
}

.ant-select-selection-item {
    font-weight: 400;
    font-size: 18px;
    color: #292929;
    font-family: "Roboto", sans-serif;
}

.ant-select-item {
    border-bottom: 1px solid #e5e5e5;
}

.ant-select-item:last-child {
    border-bottom: none;
}

.ant-select-arrow {
    display: none !important;
}

.ant-select-dropdown {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #f7f5f9;
    padding: 0;
}