.all-price {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 25px;
    border-left: 1px dashed #e5e5e5;

    &__text {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-weight: 400;
        font-size: 30px;
        color: #292929;
        font-family: "Roboto", sans-serif;
        margin-bottom: 25px;

        .price-currency {
            .price {
                font-weight: 700;
                font-size: 30px;
                color: #292929;
                font-family: "Roboto", sans-serif;
                margin-left: 15px;
            }

            .currency {
                width: 20px;
                margin-left: 5px;
            }
        }
    }
}