@import '../../../breakpoints.scss';

.header__title {
    margin: 0;
    margin-left: 90px;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    font-weight: 100;
    font-size: 72px;
    color: #fff;
    margin-right: 104px;

    @include sm-breakpoint {
        margin-bottom: 100px;
    }

    @include xs-breakpoint {
        margin-bottom: 100px;
    }

    @include md-breakpoint {
        margin-bottom: 100px;
    }

    @include xl-breakpoint {
        margin-bottom: 0px;
    }

    &-bolt {
        font-weight: 700;
    }
}