@import '../../../breakpoints.scss';

.work__advantages {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    padding-bottom: 90px;

    @include sm-breakpoint {
        flex-direction: column;
    }

    @include xs-breakpoint {
        flex-direction: column;

        padding-bottom: 30px;
    }

    &-elem {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

        .work__image {
            width: 162px;
        }

        .work__advantages-text {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 24px;
            text-align: center;
            color: #e5e5e5;
        }
    }
}