@import '../../../breakpoints.scss';

.date__from,
.date__there {
    padding: 19px 21px;
    border-radius: 3px;
    background: #fff;
    box-sizing: border-box;
    border: none;
    max-width: 325px;
    width: 100%;
    height: 60px;
    color: #e5e5e5;

    @include xs-breakpoint {
        max-width: 100%;
    }

    @include xl-breakpoint {
        max-width: 100%;
    }

    @include lg-breakpoint {
        max-width: 100%;
    }

    @include md-breakpoint {
        max-width: 100%;
    }

    @include sm-breakpoint {
        max-width: 100%;
    }
}

.ant-picker-disabled {
    background: #fff !important;
}

.date__from {
    margin-right: 47px;

    @include xs-breakpoint {
        margin-bottom: 35px;
    }
}

.ant-picker-input {
    font-family: "Roboto", sans-serif !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    color: #292929 !important;

    input::placeholder {
        text-transform: uppercase !important;
    }
}

.ant-picker-cell-selected {
    .ant-picker-cell-inner {
        background: rgba(255, 168, 0, 0.31) !important;
        color: #292929 !important;
    }
}

.ant-picker-now-btn {
    color: #292929 !important;
}